body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h1 {
    text-align: center;
    color: #ff0095;
}

label {
    margin: 10px 0 5px;
    display: block;
}

select, input[type="number"] {
    width: 94%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border 0.3s;
}

select:focus, input[type="number"]:focus {
    border: 1px solid #ff0095;
}

input[type="submit"] {
    background-color: #ff0095;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: #ff0095;
}

a {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #ff0095;
}

a:hover {
    text-decoration: underline;
}

.result{
    text-align: center;
}